---
title: Welcome to Middleman
---

<div id="left-pane" class="dual"></div>
<div id="right-pane" class="dual"></div>

<div class="row">
  <div id="title" class="small-offset-3 small-6 small-centered columns">
    <h1>Portfolio</h1>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <div class="display-box left-side">
      foo
    </div>
  </div>

  <div class="small-6 columns">
    <div class="display-box right-side">
      barr
    </div>
  </div>
</div>
